/* Footer
================================================== */
.footer {
  background-color: #3D2D13;
  padding: 50px 5px; /* Tambah padding agar konten lebih melebar */
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.footer-logo-img {
  width: 180px; /* Perbesar logo */
  height: auto;
  margin-left: -150px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
  gap: 30px;
}

.footer-widget-kampung {
  padding-left: 10px; /* Perkecil padding agar lebih melebar */
  max-width: 100%;
}

.footer-widget-hubungi {
  padding-right: 10px;
  max-width: 100%;
}

.footer-widget-hubungi p i {
  margin-right: 8px;
  vertical-align: middle;
}

.footer-widget-hubungi p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.footer-widget-jelajahi .footer-title {
  padding-left: 0;
}

.footer-links-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px 40px; /* baris x kolom */
}


.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2px;
  transition: color 0.3s ease;
}

.footer-links li a:hover,
.social-icons a:hover {
  color: #41cc3cff;
  font-weight: bold;
}

.footer-logo-alamat {
  display: flex;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 25px;
  font-size: 20px;
  margin-top: 15px;
}

.social-icons a {
  color: white;
  transition: 0.3s ease;
}

.footer-bottom {
  background-color: #3D2D13;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  border-top: 1px solid #4e3a20;
  margin-top: 20px;
}

/* Dropdown Hover */
.footer .dropdown:hover .dropdown-menu {
  display: block;
}

.footer-links .dropdown-toggle {
  display: inline-block;
  padding: 2px 0;
}

.footer-links li.dropdown {
  white-space: nowrap;     /* Pastikan tidak pindah baris */
  width: 100%;
}

.footer-links li.dropdown a.dropdown-toggle {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

/*footer end*/
